extends _layout

block vars
  - var pageTitle = "Integration page";
  - var pageClass = "integrationpage";
  - var pageActive = "integrationpage";
block content
  .main
    .main-info.products
      .main-info__inner.container.page-container.products
        .main-info__block.products.integration
          .custom-border-title.products.integration integration
          h1.main-info__title.products.integration Customize Our Flexible System Completely For Yourself!
          .main-info__txt.products.integration here are collected a variety of options for working with our system especially for you!
          a(href="#").main-info__btn.products explore
        .main-info__img.products
          img(src="./img/images/bro3.svg" alt="img").main-info__img-img.products.d-integrations
          //img(src="./img/images/bro3.png").main-info__img-img.products
    .connection
      .connection__inner.page-container
        .connection__title Connection options
        .connection__list
          .connection__item(data-aos="fade-down"
          data-aos-easing="linear"
          data-aos-duration="1000")
            .connection__img
              picture
                source(srcset="./img/images/ellipse11.webp" type="image/webp")
                img(src="./img/images/ellipse11.png" alt="img").connection__img-img
              //img(src="./img/images/Ellipse11.png").connection__img-img
            .connection__item-title SMPP
            .connection__txt In particular, consultation with a broad asset is an interesting experiment in testing new proposals.
            .connection__btns
              a(href="#").connection__btn about
              a(href="#").connection__btn.active connect
          .connection__item.d-second(data-aos="fade-down"
          data-aos-easing="linear"
          data-aos-duration="1000")
            .connection__img
              picture
                source(srcset="./img/images/ellipse12.webp" type="image/webp")
                img(src="./img/images/ellipse12.png" alt="img").connection__img-img
              //img(src="./img/images/ellipse12.png").connection__img-img
            .connection__item-title HTML
            .connection__txt In particular, consultation with a broad asset is an interesting experiment in testing new proposals.
            .connection__btns
              a(href="#").connection__btn about
              a(href="#").connection__btn.active connect
          .connection__item.last(data-aos="fade-down"
          data-aos-easing="linear"
          data-aos-duration="1000")
            .connection__img
              picture
                source(srcset="./img/images/ellipse13.webp" type="image/webp")
                img(src="./img/images/ellipse13.png" alt="img").connection__img-img
              //img(src="./img/images/ellipse13.png").connection__img-img
            .connection__item-title Title
            .connection__txt In particular, consultation with a broad asset is an interesting experiment in testing new proposals.
            .connection__btns
              a(href="#").connection__btn about
              a(href="#").connection__btn.active connect
    .custom-wrap.contact-us.d-contacts(data-aos="fade-down")
      .page-wide-block.contact-us
        .page-wide-block__inner.page-container.contact-us
          .custom-border-title.contact-us contact us
          .contact-us__container
            .page-wide-block__left-side.contact-us
              .contact-us__text.d-contacts *If you have any question please visit our Help desk. If you can`t find the answer please call us or e-mail
              form
                .form-row
                  .form-col.site-form__row
                    .form-row__txt.d-contacts Your name
                    input(type="text").form-row__input.required
                  .form-col.email.site-form__row
                    .form-row__txt.d-contacts Your email
                    input(type="email").form-row__input.email.required
                .form-row.text-area.site-form__row
                  .form-row__txt.d-contacts Type your message
                  textarea.form-row__textarea.required
                .form-row__submit
                  button(type="submit").form-row__submit-btn.d-contacts
                  a(href="").form-row__submit-i.site-form-submit-js send
            .page-wide-block__right-side.contact-us
              img(src="./img/images/bro2.svg" alt="img").contact-us__img.d-contacts
              //img(src="./img/images/bro2.png").contact-us__img





